DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


SECRET_KEY=

SIMULATOR_IP=

##GRAFANA
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GF_POSTGRES_USERNAME=
GF_POSTGRES_PASSWORD=
GRAFANA_POSTGRES_USERNAME=
GRAFANA_POSTGRES_PASSWORD=

GF_SMTP_ENABLED=
GF_SMTP_HOST=
GF_SMTP_USER=
GF_SMTP_PASSWORD=
GF_SMTP_SKIP_VERIFY=
GF_SMTP_FROM_NAME=
GF_SMTP_FROM_ADDRESS=

## ELK
ELASTIC_VERSION=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
KIBANA_SYSTEM_USERNAME=
KIBANA_SYSTEM_PASSWORD=
BEATS_SYSTEM_USERNAME=
BEATS_SYSTEM_PASSWORD=
LOGSTASH_INTERNAL_PASSWORD=
FILEBEAT_INTERNAL_PASSWORD=
METRICBEAT_INTERNAL_PASSWORD=
HEARTBEAT_INTERNAL_PASSWORD=
MONITORING_INTERNAL_PASSWORD=
